*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

h1{
    text-align:center;
    
}
h2,h3,h4,h5{
  
    text-align:center;
    font-size:26px;
}
p{
    background-color: darkgrey;
    font-family:justify;
    border-radius: 10px;
    padding: 15px;
    
}
.more-content {
      display: none;
    }

    #toggle:checked ~ .more-content {
      display: block;
    }

    .see-more-label {
      color: blue;
      cursor: pointer;
      display: inline-block;
      margin-top: 10px;
      font-weight: bold;
    }

    .see-more-label::after {
      content: ' See More';
    }

    #toggle:checked + .see-more-label::after {
      content: ' See Less';
    }

    #toggle {
      display: none;
    }
     .more {
      display: none;
    }

    #short:checked ~ .more {
      display: block;
    }

    .see-more::after {
      content: 'See More';
      color: blue;
      cursor: pointer;
      font-weight: bold;
    }

    #short:checked + .see-more::after {
      content: 'See Less';
    }

    #short {
      display: none;
    }
    body{
        background-image:url("pexels-pixabay-417173.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;


    }

